
body, main{
    margin: 0;
    padding: 0;
}

main section{
background-color:rebeccapurple;
height: 100vh;
font-family: Arial, Helvetica, sans-serif;
display: flex;
align-items: center;
 }

main section article{
background-color: grey;
text-align: center;
border-radius: 30px;
margin: 2rem;
height: 60%;
display: flex;
flex-direction: column;
justify-content: space-around;
padding: 1rem;
box-shadow: 0rem 2rem 1rem -0.5rem #492334;
}

main section article:nth-child(2){
    height: 75%;
    
}

main section article h1{
    color: white;
    
}

main section article header p{
    line-height: 1.5rem;
    text-align: left;

}

main section article footer p:first-child{
    font-size: 2rem;
    font-weight: 700;
}

main section article footer p:nth-child(2) a{
    background-color: yellowgreen;
     padding: 18px 36px;
}
main section article footer p a{
    color: black;
    text-decoration: none;
    font-weight: 700;
}

main section article footer p a:hover{

    color: yellowgreen;
    background-color: black;
}