main{
    background-color: blue;
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
main header{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    min-height: 100vh;
    line-height: 2rem;
}

main header h1{
    
    text-align: center;
    font-size: 3rem;
    
}

main header p{
    max-width: 500px;
    text-align: center;
}

main header nav{
}

main header nav ul{
    list-style: none;
    
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
}

main header nav ul li{
    background-color: green;
    padding: 2rem 4rem;;
margin: 2rem;
font-size: 2rem;

}



main header nav ul li:nth-child(2){
    background-color: yellow;
}

main header nav ul li:nth-child(2):before{

    content: url('../img/recycle.png');

}

