body{
    margin: 0;
    padding: 0;
}
section{
max-width: 500px;
margin: 0 auto;
font-family: sans-serif;
padding: 0;
position: relative;

}

section p{
    border: 5px solid  red;
    padding: 2rem;
    font-size: 2rem;
}

p.un{
    background-color: blue;
    border-color: brown;
}
p.dous{
    background-color: blue;
    border-color: green;
    position: absolute;
  
    left: 0;
    bottom: 0;
}
p.tres{
    background-color: blue;
    border-color:lightgreen;
    position: relative;
    z-index: 1;
}


@media only screen (max-width: 600px){


}