.contenedor{
height: 100vh;

display: flex;
flex-direction: column;


}

article{
    width: 100%;
    height: 14vh;
    background-color: cornflowerblue;
    
}
.uno{
    height: 25vh;
    margin-bottom: 1rem;
}
.dos, .tres{
    margin-bottom: 1rem;
flex-basis: 50%;
}
.cuatro{
    flex-basis: 38%;
    height: 35vh;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.contenedor2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contenedor3{
    flex-basis: 62%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}